
body{
	background-color: black;
	

	
}
.cv{
	background-color: white;
		width: 60%;
		margin: auto;
	border: solid;
	padding: 5%;
}
h2{
	text-align: center;
	color: white;
	background-color: #F34707F5;

}
li{
	margin-left: 30%;
	margin-bottom: 5%
}
.head {
	margin-top: -15%;
	padding-top: 5%;
	text-align: center;
	font-family: serif, arial;
}
.flex{
display: flex;
margin: auto;

}
.avatar{
	margin: 2%;
	border-radius: 50%;
	width: 20%;
	 /*display: flex;*/
  flex-wrap: nowrap;
	margin-right: 30%;

	flex:left;
}
.downloadbtn{
	display: inline-flex;
		float: right;
		font-size: 40px;
		margin-top: 3%;
		margin-right: 15%;
		border-radius: 50%;
		border: none;
		color: black;
		background-color: #F34707F5;
		padding: 1%;

}
li{

}